<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="<footer>" th:fragment="footer">
    <footer>
        <link href="/css/footer.css" rel="stylesheet">
        <div class="ui horizontal divider"><i class="caret down icon"></i></div>
        <div style="background-color: #fff;">
        <span class="footerbody">
            <span>DB-LAB4</span>
            <span class="info">
                <span>关于本网站</span>
                &emsp;&emsp;
                <span>关于开发者</span>
                &emsp;&emsp;
                <span>帮助</span>
            </span>
        </span>
        </div>
    </footer>
</div>

</body>
</html>