<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="<header>" th:fragment="header">
    <link href="/css/header.css" rel="stylesheet">
    <header>
        <div class="header-left">
            <span><a href="/index">首页</a></span>
            <span><a href="/home">个人中心</a></span>
        </div>
        <div class="login">
            <span th:if="not ${session.username}">
                <a href="/login">
           <i class="sign-in icon"></i>登录</a>&emsp;
             <a href="/register"><i class="user plus icon"></i>注册</a>
            </span>
            <span th:if="${session.username}">欢迎，<a href="/home">
            <i class="user icon"></i></a></span>
            <a href="/home" th:text="${session.username}"></a>
            <a th:if="${session.username}" href="/logout"><i class="sign-out icon"></i>注销</a>
            <div class="search_form">
                <form style="display:inline" th:action="@{/searching}">
                    <label class="ui icon input" for="search">
                        <input id="search" name="content" type="search">
                        <button class="ui icon button"><i class="search icon"></i></button>
                    </label></form>
            </div>
        </div>
    </header>
</div>

</body>
</html>