.nav{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 0 auto 1em auto;
}
.ui.message{
    width: 70%;
    margin: 0 auto 1em auto !important;
    text-align: center;
}