<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.dblab4.mapper.canteenMapper">
    <select id="findAll" resultType="canteen">
        select * from canteen;
    </select>
    <insert id="insert" parameterType="canteen" useGeneratedKeys="true">
        insert into canteen(user_id, address_id, canteen_name) values (#{user_id}, #{address_id}, #{canteen_name})
        <selectKey resultType="int" keyProperty="canteen_id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="myCanteen" parameterType="int" resultType="canteen">
        select * from canteen where user_id = #{user_id}
    </select>
    <select id="find" parameterType="canteen" resultType="canteen">
        select * from canteen where canteen_id = #{canteen_id}
    </select>
    <update id="update" parameterType="canteen">
        update canteen set canteen_name = #{canteen_name} where canteen_id = #{canteen_id}
    </update>
</mapper>